<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'music/css/ie10-viewport-bug-workaround.css' %}" type = "text/css"/>
    <script src="{%  static 'music/js/ie8-responsive-file-warning.js'%}"></script>
    <link href="{% static 'music/css/carousel.css' %}" rel="stylesheet">

   


<head>
	<title>sahil</title>
	<meta charset="utf-8" />
</head>

<body class="body" style="background-color:#f6f6f6">

	<div>
	   {% block content %}
	   {% endblock %}
	</div>
</body>

</html>